.box {
  width: 100px;
  height: 100px;
  background-color: #000;
}

/* 选择器的搭配牛啊，所有条件满足才能实现 cyan颜色 */
#toggler:checked + label .box {
  background-color: cyan;
}

#toggler {
  /* 把按钮标志隐藏了，这里也用得很好！ */
  display: none;
}

.hamburger-container {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 16px;
}

/* 将span 变成线 */
.hamburger-container span {
  display: block;
  height: 1px;
  background-color: #fff;
  position: relative;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out 0.3s;
  /* transition: all 0.3s ease-in-out; */
  top: 0;
}

.hamburger-container span:nth-child(2) {
  /* 这里的效果是什么呢？ */
  margin-top: 7px;
}

#toggler:checked + label .hamburger-container span:nth-child(1) {
  transform: rotate(45deg);
  top: 4px;
  transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}

#toggler:checked + label .hamburger-container span:nth-child(2) {
  transform: rotate(-45deg);
  top: -4px;
  transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}

header {
  background-color: #000;
  height: 44px;
  padding: 0 18px;
}
body {
  padding: 0;
  margin: 0;
}

.nav-items {
  background-color: rgba(0, 0, 0, 0.82);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 44px;
  left: 0;
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out 0.3s opacity 0.3s ease-in-out 0.3s;
  transform-origin: 50% 0;
  opacity: 0;
}

#toggler:checked ~ .nav-items {
  transform: scaleY(1);
  opacity: 1;
}

ul {
  margin-top: 1em;
}

ul li {
  color: #fff;
}
